
@{
    ViewBag.Title = "confVenda";
}

<div class="text-center mt-4">
    <img class="" src="~/Content/assets/images/check.png"  style="width:15rem"/>
    <h2 class="text-success text-center">Seu pedido foi confirmado, entrega em até 7 dias utéis no endereço cadastrado</h2>
</div>

