//SEARCH BAR
.search-bar {
    position: relative;
    font-size: 1rem;
    width: 60%;

    @include media-breakpoint-down(xl) {
        width: 50%;
    }

    input {
        border-radius: 4px;
    }


    button {

        position: absolute;
        right: 0;
        background: none;
        border: 0;
        transform: translate(-50%,25%);
    }
}

.side-bar {
    padding: 0;

    ul {
        list-style: none;
        padding: 0;

        li {
            a {
                text-decoration: none;
                display: block;
                height: 100%;
                width: 100%;
                line-height: 65px;
                font-size: 1.3rem;
                color: white;
                padding-left: 40px;
                border-top: 1px solid #000;
                transition: .4s;

                i {
                    margin-right: 16px;
                }
            }

            &:hover a{
                padding-left: 55px;
                background-color: #FFDD00;
                color: #1D1D1B;
            }
        }
    }
}

.funcionario {



    a {
    color: black;
        }
}

@media (max-width: 399px) {
    .funcionario a{
        margin-bottom: 1.2rem
    }
}